<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsga.kbms.dao.CommentDao">

	<resultMap type="Comment" id="CommentResult">
		<result property="id" column="id"/>
		<result property="userIp" column="userip"/>
		<result property="content" column="content"/>
		<result property="commentDate" column="commentdate"/>
		<result property="state" column="state"/>
		<association property="article" column="articleid" javaType="Article">
			<id property="id" column="articleid" />
			<result property="title" column="title"/>
		</association>
	</resultMap>
	
	<select id="queryComments" resultMap="CommentResult">
		SELECT
			t1.id,
			t1.userip,
			t1.articleid,
			t1.content,
			t1.state,
			t1.commentdate,
			t2.title
		FROM
			t_comment t1,
			t_article t2
		WHERE
			t1.articleid = t2.id
		ORDER BY
			t1.commentdate DESC
	</select>
	
	<select id="queryList" parameterType="Map" resultMap="CommentResult">
		select * from t_comment
		<where>
			<if test="articleId!=null">
				and articleid=#{articleId}
			</if>
			<if test="state!=null">
				and state=#{state}
			</if>
		</where>
		order by commentDate
	</select>
	
	<insert id="insert" parameterType="Comment">
		insert into t_comment values(null,#{userIp},#{content},#{article.id},now(),1)
	</insert>
	
	<update id="updateComment" parameterType="Comment">
		update t_comment
		<set>
			<if test="state!=null">
				state=#{state},
			</if>
		</set>
		where id=#{id}
	</update>
	
	<delete id="deleteComments" parameterType="Integer">
		delete from t_comment where id = #{id}
	</delete>
	
</mapper> 